app/vendor/
app/node_modules/

**/.env
*.env
.env
.env.*.local

app/storage/*
!app/storage/.gitignore
app/bootstrap/cache/*
!app/bootstrap/cache/.gitignore

app/public/build/
app/public/hot

/.phpunit.cache
.phpunit.result.cache

/.idea
/.vscode
**/.DS_Store
**/__MACOSX/

app/storage/logs/*.log

npm-debug.log*
yarn-error.log*
pnpm-debug.log*
